@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100% 0 0;
    --border: 91.97% 0.004 286.32;
    --default: 87.11% 0.0055 286.29;
    --default-foreground: 0% 0 0;
    --destructive: 61.92% 0.2419 11.33;
    --destructive-foreground: 100% 0 0;
    --divider: 17.77% 0 0;
    --foreground: 0% 0 0;
    --input: 91.97% 0.004 286.32;
    --primary: 56.71% 0.209478 257.9477;
    --primary-foreground: 100% 0 0;
    --ring: 71.19% 0.0129 286.07;
    --secondary: 48.78% 0.2255 300.51;
    --secondary-foreground: 100% 0 0;
    --success: 73.29% 0.1934 150.82;
    --success-foreground: 0% 0 0;
    --warning: 78.19% 0.1585 72.32;
    --warning-foreground: 0% 0 0;
  }

  .dark {
    --background: 0% 0 0;
    --border: 27.41% 0.0055 286.03;
    --default: 37.03% 0.0119 285.81;
    --default-foreground: 100% 0 0;
    --destructive: 61.92% 0.2419 11.33;
    --destructive-foreground: 100% 0 0;
    --divider: 100% 0 0;
    --foreground: 100% 0 0;
    --input: 27.41% 0.0055 286.03;
    --primary: 56.71% 0.209478 257.9477;
    --primary-foreground: 100% 0 0;
    --ring: 87.09% 0.0055 286.29;
    --secondary: 57.68% 0.1916 304.03;
    --secondary-foreground: 100% 0 0;
    --success: 73.29% 0.1934 150.82;
    --success-foreground: 0% 0 0;
    --warning: 78.19% 0.1585 72.32;
    --warning-foreground: 0% 0 0;
  }
}
